Django==1.11.17
argparse==1.2.1
chardet==3.0.4
colorama==0.2.5
dj-database-url==0.5.0
html5lib==0.999
pathlib==1.0.1
pyScss
pytz==2018.4
requests==2.2.1
six==1.5.2
urllib3==1.7.1
virtualenv==1.11.6
dj-static==0.0.6
static3==0.6.1
gunicorn==19.3.0
path.py==8.1.2
ptyprocess==0.5
static3==0.6.1
# psycopg2==2.7.5
psycopg2-binary==2.9.9
django-cors-headers==3.1.0

# dev
mockbrython