{% load static %}

{% include 'base.html' %}

<body onload="brython(1)">

<div id="div_headerAndBars"></div>

<div id="div_subMainPage">

{% if subpage == 'ahkblockly' %}
<div id="div_ahkblockly_gui">
{% include 'blocklyDiv.html' %}
</div>
<script src="{% static "workspace.js" %}"></script>
{% endif %}

</div>

<script type="text/python">

{% include 'base_function.py' %}

#置入header DIV元素
doc['div_headerAndBars']<=DIV_header()


#根據subpage置入bar DIV元素
{% if subpage == "ahktool" %}
doc<=DIV_bars(0)
{% include 'ahktool.py' %}

{% elif subpage == "ahkblockly" %}
doc['div_headerAndBars']<=DIV_bars(1)
{% include 'ahkblockly.py' %}

{% endif %}


</script>
</body>

</html>