{% load static %}

{% include 'base.html' %}

<body onload="brython(1)">


{% if subpage == 'ahkblockly' %}
{% include 'blocklyDiv.html' %}
<script src="{% static "workspace.js" %}"></script>
{% endif %}

<script type="text/python">

{% include 'base_function.py' %}

#置入標頭
# div_elt=doc.select_one('div')
# print(div_elt)



{% if subpage == "ahktool" %}

doc<=DIV_header()
doc<=DIV_bars(0)
{% include 'ahktool.py' %}

{% elif subpage == "ahkblockly" %}

doc.body.insertBefore(DIV_header(),doc['blocklyDiv'])
doc.body.insertBefore(DIV_bars(1),doc['blocklyDiv'])
{% include 'ahkblockly.py' %}

{% endif %}


</script>
</body>

</html>