<div id="blocklyDiv" style="height: 600px; width: 100%;visibility: hidden;"></div>
<xml xmlns="https://developers.google.com/blockly/xml" id="workspaceBlocks" style="display:none;">
    <block type="hotkey_execute" id="V%=T0MtVv(niaOO.S|,P" x="78" y="115">
        <value name="NAME">
            <block type="function_key" id="b9-u~;+7!-K-580Or~+C">
                <field name="function_key">Ctrl</field>
                <value name="function_key">
                    <block type="function_key" id="tpK4IIa}7lYY^v=KrBY-">
                        <field name="function_key">Shift</field>
                        <value name="function_key">
                            <block type="normal_key" id="N11J1M4.Cun/a7RiaD?i">
                                <field name="normal_key">A</field>
                            </block>
                        </value>
                    </block>
                </value>
            </block>
        </value>
        <statement name="DO">
            <block type="open" id="v+E6j.ujEL)ep/vi_uH9">
                <value name="NAME">
                    <block type="webpage" id="QGoL];H5:jmH}[9[1nF!">
                        <field name="NAME">https://www.autohotkey.com/</field>
                    </block>
                </value>
            </block>
        </statement>
    </block>
</xml>

<!--block結構必須要是頭尾封閉的html形式才能正常被偵測-->
<xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
    <!--工具欄-->

    <category name="基本" colour="#818181">
        <block type="hotkey_execute">
            <value name="NAME">
                <block type="function_key">
                    <field name="function_key">Ctrl</field>
                    <value name="function_key">
                        <block type="function_key">
                            <field name="function_key">Shift</field>
                            <value name="function_key">
                                <block type="normal_key">
                                    <field name="normal_key">A</field>
                                </block>
                            </value>
                        </block>
                    </value>
                </block>
            </value>
            <statement name="DO">
                <block type="open">
                    <value name="NAME">
                        <block type="webpage">
                            <field name="NAME">https://www.autohotkey.com/</field>
                        </block>
                    </value>
                </block>
            </statement>
        </block>
        <block type="hotkey_execute">
            <comment pinned="true" h="34.44447326660156" w="134.44442749023438">清空資源回收桶</comment>
            <value name="NAME">
                <block type="function_key" id="5SbVV-d66$U%w-pkE/Oa">
                    <field name="function_key">Ctrl</field>
                    <value name="function_key">
                        <block type="function_key" id="?wtrVXxd#VOa`16u]{+W">
                            <field name="function_key">Win</field>
                            <value name="function_key">
                                <block type="function_key" id="K$V@_QkoaGRJL/cEHpi!">
                                    <field name="function_key">Alt</field>
                                    <value name="function_key">
                                        <block type="normal_key" id="o3FZWp=#nW1:@--``xDc">
                                            <field name="normal_key">T</field>
                                        </block>
                                    </value>
                                </block>
                            </value>
                        </block>
                    </value>
                </block>
            </value>
            <statement name="DO">
                <block type="file_recycle_empty" id=";=(]0kDwE-?ptu3@Gkn:">
                    <next>
                        <block type="msgbox" id="zMTmYSi(ln79)7S@WZoX">
                            <value name="NAME">
                                <block type="text" id="Y3qX:9z`xdS0*gs@6=2]">
                                    <field name="TEXT">垃圾桶清除完畢!</field>
                                </block>
                            </value>
                        </block>
                    </next>
                </block>
            </statement>
        </block>
        <block type="open">
            <value name="NAME">
                <block type="filepath">
                    <field name="NAME">C:\*.exe</field>
                </block>
            </value>
        </block>
        <block type="built_in_dirpath"></block>
        <block type="built_in_program"></block>
        <block type="built_in_webpage"></block>
        <block type="msgbox" id="CXdLYVD0$PZ]^{p/-qf;" x="88" y="225">
            <value name="NAME">
                <block type="text" id="r9th7Sk{9B+wU87Wt%T6">
                    <field name="TEXT">Hello World</field>
                </block>
            </value>
        </block>
        <block type="send_text" id="Mjzo.Lz60~t=9(V)`ZE3" x="88" y="284">
            <value name="NAME">
                <block type="text" id="jm%uw[CaO*0FkFoz~;#[">
                    <field name="TEXT">xxxl@gmail.com</field>
                </block>
            </value>
        </block>
        <block type="hotstring">
            <value name="ABB">
                <block type="text">
                    <field name="TEXT">btw</field>
                </block>
            </value>
            <value name="TEXT">
                <block type="text">
                    <field name="TEXT">By the way</field>
                </block>
            </value>
        </block>
    </category>

    <category name="熱鍵" colour="#0000CD">
        <block type="hotkey_execute" id="ijf~}`xQflr[cT,i!IuZ" x="73" y="34">
            <value name="NAME">
            <block type="function_key" id="]{!*{~gp;ZCY?1fojJE/">
                <field name="function_key">Ctrl</field>
                <value name="function_key">
                <block type="normal_key" id="D3K/AB#m?2%h.,4;_f:b">
                    <field name="normal_key">Q</field>
                </block>
                </value>
            </block>
            </value>
        </block>
        <block type="function_key">
            <field name="function_key">Ctrl</field>
        </block>
        <block type="normal_key" id="w=(0Me7g6uu$Rn9BoB^8" x="-925" y="-52">
            <field name="normal_key">A</field>
        </block>
        <block type="special_key" id="?-vDL9wq|0G4}/)L.EKY" x="-933" y="-9">
            <field name="special_key">Enter</field>
        </block>
        <block type="return"></block>
    </category>

    <category name="熱字串" colour="#CD5C5C">
        <block type="hotstring">
            <value name="ABB">
                <block type="text">
                    <field name="TEXT">btw</field>
                </block>
            </value>
            <value name="TEXT">
                <block type="text">
                    <field name="TEXT">By the way</field>
                </block>
            </value>
        </block>
        <block type="hotstring_advanced">
            <value name="ABB">
                <block type="text">
                    <field name="TEXT">btw</field>
                </block>
            </value>
            <value name="TEXT">
                <block type="text">
                    <field name="TEXT">By the way</field>
                </block>
            </value>
            <statement name="SETTING">
                <block type="hotstringSetting_autoExpaned">
                    <next>
                        <block type="hotstringSetting_dontFireEndKey">
                            <next>
                                <block type="hotstringSetting_caseSensitive">
                                    <next>
                                        <block type="hotstringSetting_expanedInWrods">
                                            <next>
                                                <block type="hotstringSetting_rawText" />
                                            </next>
                                        </block>
                                    </next>
                                </block>
                            </next>
                        </block>
                    </next>
                </block>
            </statement>
        </block>
        <block type="hotstring_do">
            <value name="ABB">
                <block type="text" id="q*bh@i[a]mgtx]X~?yO!">
                    <field name="TEXT">\ahk</field>
                </block>
            </value>
            <statement name="DO">
                <block type="msgbox" id="?-yIy#0@{*}2O9g2N.$L">
                    <value name="NAME">
                        <block type="text" id="[C1MEk_a1dg^m~(;pEWc">
                            <field name="TEXT">開啟AHK官網</field>
                        </block>
                    </value>
                    <next>
                        <block type="open" id="Dq~*#ls:jX}rD.$O_+2]">
                            <value name="NAME">
                                <block type="webpage" id="if^+ZL3Z32V[9Im|X#FV">
                                    <field name="NAME">https://www.autohotkey.com/</field>
                                </block>
                            </value>
                        </block>
                    </next>
                </block>
            </statement>
            <statement name="SETTING">
                <block type="hotstringSetting_expanedInWrods" id="h?kFRLgMTM_ej*KwY#E[">
                    <next>
                        <block type="hotstringSetting_caseSensitive" id="L|^O-W:@2Z@Q)6mEMK08"></block>
                    </next>
                </block>
            </statement>
        </block>
        <block type="hotstring"></block>
        <block type="hotstring_advanced"></block>
        <block type="hotstring_do"></block>
        <block type="hotstringSetting_autoExpaned"></block>
        <block type="hotstringSetting_dontFireEndKey"></block>
        <block type="hotstringSetting_caseSensitive"></block>
        <block type="hotstringSetting_expanedInWrods"></block>
        <block type="hotstringSetting_rawText"></block>
    </category>

    <category name="動作" colour="#4B0082">
        <block type="open"></block>
        <block type="msgbox"></block>
        <block type="send_text"></block>
        <block type="send_key"></block>
        <block type="set_clipboard"></block>
        <block type="paste_text"></block>
        <block type="file_recycle_empty"></block>
        <block type="close_process"></block>
        <block type="win_activate" id="qTbeo*`67*e/^?)n?ePd" x="92" y="241">
            <value name="title">
                <block type="text" id="A@?fM8GKg=6]O.7QK:TD">
                <field name="TEXT"> - Google Chrome</field>
                </block>
            </value>
        </block>
        <block type="run_or_active" id="2i/DthleMLzrDGP@u-V_" x="176" y="139">
            <value name="run">
            <block type="built_in_program" id="E?{Ejq$:oV+m)h8C?nRV">
                <field name="NAME">notepad</field>
            </block>
            </value>
            <value name="title">
            <block type="text" id="LqewT]^;j[kXSRZQ0WEX">
                <field name="TEXT"> - 記事本</field>
            </block>
            </value>
        </block>
        <block type="shutdown"></block>
        <block type="sleep">
            <value name="NAME">
                <block type="math_number">
                    <field name="NUM">500</field>
                </block>
            </value>
        </block>
    </category>

    <category name="物件" colour="#9370DB">
        <block type="filepath">
            <field name="NAME">C:\*.exe</field>
        </block>
        <block type="built_in_program"></block>
        <block type="dirpath"></block>
        <block type="built_in_dirpath"></block>
        <block type="webpage"></block>
        <block type="built_in_webpage"></block>
        <block type="clipboard"></block>
        <block type="math_number">
            <field name="NUM">123</field>
        </block>
        <block type="text">
            <field name="TEXT">文字</field>
        </block>
        <block type="path_combined">
            <value name="main_path">
                <block type="built_in_dirpath">
                    <field name="NAME">desktop</field>
                </block>
            </value>
            <value name="sub_path">
                <block type="filepath">
                    <field name="NAME">圖片\01.png</field>
                </block>
            </value>
        </block>
        <block type="built_in_time"></block>
        <block type="variables_get">
            <field name="VAR">變數 x</field>
        </block>
    </category>

    <category name="模擬按鍵" colour="#D75BF0">
        <block type="send_key">
            <value name="NAME">
            <block type="function_key">
                <field name="function_key">Ctrl</field>
                <value name="function_key">
                <block type="normal_key">
                    <field name="normal_key">V</field>
                </block>
                </value>
            </block>
            </value>
        </block>
        <block type="send_keys"></block>
        <block type="send_key_times" id="wltY5@wT{M;nzk*|MC4$" x="109" y="236">
            <value name="KEY">
                <block type="function_key" id="?5{d?c=m$gY):ce8|!!Q">
                    <field name="function_key">Ctrl</field>
                    <value name="function_key">
                        <block type="normal_key" id="?oM./%`gAiAcxPxjQ]};">
                            <field name="normal_key">V</field>
                        </block>
                    </value>
                </block>
            </value>
            <value name="TIMES">
                <block type="math_number" id="m8WbZ`{PQZ@R~tUkLNiC">
                    <field name="NUM">3</field>
                </block>
            </value>
        </block>
        <block type="function_key">
            <field name="function_key">Ctrl</field>
        </block>
        <block type="normal_key">
            <field name="normal_key">A</field>
        </block>
        <block type="special_key">
            <field name="special_key">Enter</field>
        </block>
        <block type="hotkey_execute" id="?=RLJGLLo*3==U2{,/I=" x="16" y="189">
            <value name="NAME">
            <block type="function_key" id="ljy`21lCO(t(,FX?^_B)">
                <field name="function_key">Win</field>
                <value name="function_key">
                <block type="normal_key" id="eXg9UF9(_KE]A,^w19PA">
                    <field name="normal_key">Z</field>
                </block>
                </value>
            </block>
            </value>
            <statement name="DO">
            <block type="key_wait" id="P6z%LXNyAtAY4If$z#F}">
                <comment pinned="false" h="43" w="337">等待按鍵釋放，可以避免後面的按鍵操作被干擾</comment>
                <value name="NAME">
                <block type="special_key" id="!*b+B|sj1]?hVBY4s*Iv">
                    <field name="special_key">Win</field>
                </block>
                </value>
                <next>
                <block type="block_input" id="H=laPU368t7CawQkX4|S">
                    <comment pinned="false" h="44" w="316">需要使用系統管理員執行AHK腳本才會生效</comment>
                    <statement name="DO">
                    <block type="key_pressing" id="_8N,QjnM#b0#(yJX@Ddd">
                        <value name="NAME">
                        <block type="special_key" id="`=TDh^,_e~$Y%`}]G)w1">
                            <field name="special_key">Shift</field>
                        </block>
                        </value>
                        <statement name="DO">
                        <block type="send_keys" id="/t9sK8_:V7z}_t_DlPM0">
                            <field name="NAME">abcabcabcabcabcabcabcabcabcabc</field>
                        </block>
                        </statement>
                    </block>
                    </statement>
                </block>
                </next>
            </block>
            </statement>
        </block>
        <block type="key_wait"></block>
        <block type="key_pressing"></block>
        <block type="block_input"></block>
    </category>

    <category name="模擬滑鼠" colour="#D0D03E">
        <block type="send_key">
            <value name="NAME">
              <block type="special_key">
                <field name="special_key">LButton</field>
              </block>
            </value>
        </block>
        <block type="coord_mode" id="9L]5EQ~.%tsYlny@SAy%" x="103" y="109">
            <field name="NAME">screen</field>
            <next>
            <block type="click_x_y" id="q86Y9,NC*I9-Lbd3)ro]">
                <value name="X">
                <block type="math_number" id="}O?aD^J9(Rg{;WB.l0lK">
                    <field name="NUM">100</field>
                </block>
                </value>
                <value name="Y">
                <block type="math_number" id="`vEB1I$0xX^h6}_vL3B~">
                    <field name="NUM">200</field>
                </block>
                </value>
                <value name="TIMES">
                <block type="math_number" id="`oY^aUd/3D|DjpaCW)u@">
                    <field name="NUM">1</field>
                </block>
                </value>
            </block>
            </next>
        </block>
        <block type="coord_mode"x="71" y="185">
            <field name="NAME">screen</field>
            <next>
            <block type="mouse_get_pos">
                <value name="posX">
                <block type="variables_get">
                    <field name="VAR">滑鼠座標X</field>
                </block>
                </value>
                <value name="posY">
                <block type="variables_get">
                    <field name="VAR">滑鼠座標Y</field>
                </block>
                </value>
                <next>
                <block type="msgbox">
                    <value name="NAME">
                    <block type="text_join">
                        <mutation items="4"></mutation>
                        <value name="ADD0">
                        <block type="text">
                            <field name="TEXT">現在滑鼠座標為: </field>
                        </block>
                        </value>
                        <value name="ADD1">
                        <block type="variables_get">
                            <field name="VAR">滑鼠座標X</field>
                        </block>
                        </value>
                        <value name="ADD2">
                        <block type="text">
                            <field name="TEXT">, </field>
                        </block>
                        </value>
                        <value name="ADD3">
                        <block type="variables_get">
                            <field name="VAR">滑鼠座標Y</field>
                        </block>
                        </value>
                    </block>
                    </value>
                </block>
                </next>
            </block>
            </next>
        </block>
        <block type="coord_mode"></block>
        <block type="click_x_y">
            <value name="X">
                <block type="math_number">
                    <field name="NUM">100</field>
                </block>
            </value>
            <value name="Y">
                <block type="math_number">
                    <field name="NUM">200</field>
                </block>
            </value>
            <value name="TIMES">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="mouse_get_pos">
            <value name="posX">
            <block type="variables_get">
                <field name="VAR">滑鼠X</field>
            </block>
            </value>
            <value name="posY">
            <block type="variables_get">
                <field name="VAR">滑鼠Y</field>
            </block>
            </value>
        </block>
    </category>

    <category name="偵測圖片" colour="#DB7093">
        <block type="hotkey_execute" id="HkwcUnN5parh[{Y/CYLZ" x="5" y="155">
            <comment pinned="false" h="46" w="327">這個積木放這裡，方便大家擷取畫面圖片:)</comment>
            <value name="NAME">
            <block type="function_key" id=":AbP,Snml,n?7?%O5sB3">
                <field name="function_key">Win</field>
                <value name="function_key">
                <block type="normal_key" id="u{E/kO2Cg((hz6wPJaiZ">
                    <field name="normal_key">Q</field>
                </block>
                </value>
            </block>
            </value>
            <statement name="DO">
            <block type="open" id="B2+cH1~uhj}6H?PK7SDq">
                <value name="NAME">
                <block type="built_in_program" id="Aqh/(_Tz4r(/J[4.9JJZ">
                    <field name="NAME">SnippingTool</field>
                </block>
                </value>
            </block>
            </statement>
        </block>
        <block type="get_picture_pos" id="]WzcYqQA{#g,=`}Lz4{a" x="22" y="279">
            <field name="img_filepath">C:\*.png</field>
            <field name="pos_x" id="sCYNzK3;-|F-e2m)|KPp">圖片座標X</field>
            <field name="pos_y" id="xB@q{qR#`@kUE3x]S+5s">圖片座標Y</field>
            <statement name="DO">
            <block type="msgbox" id="x}cfui-{(eob(?l.ww8l">
                <value name="NAME">
                <block type="text_join" id="K9wAX5M[a+T+iA[I{mLa">
                    <mutation items="4"></mutation>
                    <value name="ADD0">
                    <block type="text" id="qj*+OM`K+$t+PxvE@TNa">
                        <field name="TEXT">圖片座標為: </field>
                    </block>
                    </value>
                    <value name="ADD1">
                    <block type="variables_get" id="zZ9JNzS4r:5%Ytyy{mT:">
                        <field name="VAR" id="sCYNzK3;-|F-e2m)|KPp">圖片座標X</field>
                    </block>
                    </value>
                    <value name="ADD2">
                    <block type="text" id="$cR{2.ut6Al8.gk=ANah">
                        <field name="TEXT">, </field>
                    </block>
                    </value>
                    <value name="ADD3">
                    <block type="variables_get" id="EaxJKy|H;_^+S/in$o}!">
                        <field name="VAR" id="xB@q{qR#`@kUE3x]S+5s">圖片座標Y</field>
                    </block>
                    </value>
                </block>
                </value>
            </block>
            </statement>
            <statement name="ELSE_DO">
            <block type="msgbox" id=",`lafHqh|:A(=4O^#pO|">
                <value name="NAME">
                <block type="text" id=")@F2O$M_@nzhSI2eN^m@">
                    <field name="TEXT">圖片未找到</field>
                </block>
                </value>
            </block>
            </statement>
        </block>
        <block type="get_picture_pos" id="$=;G2eTm(yK*ji[%9qJ#" x="32" y="229">
            <field name="img_filepath">C:\*.png</field>
            <field name="pos_x" id="sCYNzK3;-|F-e2m)|KPp">圖片座標X</field>
            <field name="pos_y" id="xB@q{qR#`@kUE3x]S+5s">圖片座標Y</field>
            <statement name="DO">
            <block type="coord_mode" id="CU.lnqXZ`il8LE)PL{1g">
                <field name="NAME">screen</field>
                <next>
                <block type="click_x_y" id="XRd3hyw!bDuYJ49^}:S2">
                    <value name="X">
                    <block type="variables_get" id="}dLAPui?tG29hq{-ioM2">
                        <field name="VAR" id="sCYNzK3;-|F-e2m)|KPp">圖片座標X</field>
                    </block>
                    </value>
                    <value name="Y">
                    <block type="variables_get" id="gnb_IJ+-L=oTNlSY*K@N">
                        <field name="VAR" id="xB@q{qR#`@kUE3x]S+5s">圖片座標Y</field>
                    </block>
                    </value>
                    <value name="TIMES">
                    <block type="math_number" id="d8sZL/6)iLy!X;!nO}*B">
                        <field name="NUM">1</field>
                    </block>
                    </value>
                </block>
                </next>
            </block>
            </statement>
            <statement name="ELSE_DO">
            <block type="msgbox" id="afGoGzo-${r%{;/Ihayp">
                <value name="NAME">
                <block type="text" id="M@vrDrp:UD#!4MygN=/,">
                    <field name="TEXT">圖片未找到</field>
                </block>
                </value>
            </block>
            </statement>
        </block>
        <block type="get_picture_pos"></block>
    </category>

    <category name="文字" colour="#5BA58C">
        <block type="text">
            <field name="TEXT">文字</field>
        </block>
        <block type="msgbox" id="R1WMDFH+Qu_Ih(MfG1Qp" x="51" y="163">
            <value name="NAME">
            <block type="text" id="V5O1d]0J*+8o)+JgR,m`">
                <field name="TEXT">OK!</field>
            </block>
            </value>
        </block>
        <block type="send_text" id="^prMARg}%1]-k}fwMC3z" x="49" y="230">
            <value name="NAME">
            <block type="text" id="N$Hh{c1~s)%D~8X]]/?4">
                <field name="TEXT">123</field>
            </block>
            </value>
        </block>
        <block type="paste_text" id="1m%*5%Ax8-Qqn+#6_EJj" x="53" y="295">
            <value name="NAME">
            <block type="text" id="qz8!|o+jx,Z+:`qJa^+H">
                <field name="TEXT">沒問題👍</field>
            </block>
            </value>
        </block>
        <block type="text_join">
            <mutation items="2" />
        </block>
        <block type="text_join">
            <mutation items="2"></mutation>
            <value name="ADD0">
                <block type="text">
                    <field name="TEXT">今天星期</field>
                </block>
            </value>
            <value name="ADD1">
                <block type="built_in_wday_zh"></block>
            </value>
        </block>
        <block type="str_replace">
        <value name="text">
            <block type="text" id=",y`*|xS!1Z.x[6oTZbPh">
                <field name="TEXT">I like apple !</field>
            </block>
            </value>
            <value name="subs">
            <block type="text" id="@cCA{R91X6=_,-^LA|5G">
                <field name="TEXT">apple</field>
            </block>
            </value>
            <value name="to">
            <block type="text" id="LsW-?QML]SX5I#Cq!ebD">
                <field name="TEXT">banana</field>
            </block>
            </value>
        </block>
        <block type="in_str">
            <field name="NAME">contain</field>
            <value name="text">
            <block type="text">
                <field name="TEXT">Apple</field>
            </block>
            </value>
            <value name="sub_text">
            <block type="text">
                <field name="TEXT">App</field>
            </block>
            </value>
        </block>       
    </category>

    <category name="時間" colour="#AFEEEE">
        <block type="built_in_time">
            <field name="NAME">year</field>
        </block>
        <block type="built_in_time">
            <field name="NAME">month</field>
        </block>
        <block type="built_in_time">
            <field name="NAME">day</field>
        </block>
        <block type="built_in_time">
            <field name="NAME">wday</field>
        </block>
        <block type="built_in_wday_zh"></block>
        <block type="built_in_time">
            <field name="NAME">hour</field>
        </block>
        <block type="built_in_time">
            <field name="NAME">min</field>
        </block>
        <block type="built_in_time">
            <field name="NAME">sec</field>
        </block>
        <block type="procedures_defreturn" id="qlK:U]~IEWC+1@gAN:lK" x="24" y="23">
            <mutation statements="false"></mutation>
            <field name="NAME">現在時間</field>
            <comment pinned="true" h="44" w="325">請按右鍵＞創造函式積木，來使用此函式積木</comment>
            <value name="RETURN">
            <block type="text_join" id="8X0.OxgdRV2Q2QE8mMFT">
                <mutation items="11"></mutation>
                <value name="ADD0">
                <block type="built_in_time" id="3*b_Ao:WS1JMA~pdCo@1">
                    <field name="NAME">year</field>
                </block>
                </value>
                <value name="ADD1">
                <block type="text" id="s)pS:L;BF`;kflQBLVNR">
                    <field name="TEXT">/</field>
                </block>
                </value>
                <value name="ADD2">
                <block type="built_in_time" id="N)U2e8AB{xaJHW!c;h#/">
                    <field name="NAME">month</field>
                </block>
                </value>
                <value name="ADD3">
                <block type="text" id="Hin^|y$w@)Bz-3fxYJo_">
                    <field name="TEXT">/</field>
                </block>
                </value>
                <value name="ADD4">
                <block type="built_in_time" id="Tfi4BII%@Ap31W]Fg9%l">
                    <field name="NAME">day</field>
                </block>
                </value>
                <value name="ADD5">
                <block type="text" id="r_0%Xpw_71L_L[Ao-8oo">
                    <field name="TEXT">-</field>
                </block>
                </value>
                <value name="ADD6">
                <block type="built_in_time" id="G|$^aoRw?.-nvdlw)h!-">
                    <field name="NAME">hour</field>
                </block>
                </value>
                <value name="ADD7">
                <block type="text" id="Z!nnU}TwQHz|QeNz_J=|">
                    <field name="TEXT">:</field>
                </block>
                </value>
                <value name="ADD8">
                <block type="built_in_time" id="14gg/Elks,(H;_T}(=lO">
                    <field name="NAME">min</field>
                </block>
                </value>
                <value name="ADD9">
                <block type="text" id="]h^=X9AaM^g5^w/CakfK">
                    <field name="TEXT">:</field>
                </block>
                </value>
                <value name="ADD10">
                <block type="built_in_time" id="mpTd{yebnp:R/%H30rj3">
                    <field name="NAME">sec</field>
                </block>
                </value>
            </block>
            </value>
        </block>
    </category>
    

    <category name="數學" colour="#7B68EE">
        <block type="math_number">
            <field name="NUM">0</field>
        </block>
        <block type="math_arithmetic">
            <field name="OP">ADD</field>
            <value name="A">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="B">
                <block type="math_number">
                    <field name="NUM">2</field>
                </block>
            </value>
        </block>
    </category>

    <category name="右鍵清單" colour="#00CED1">
        <block type="hotkey_execute" id="W[bq`zQ(;Ln!!2VoANHZ" x="67" y="126">
            <value name="NAME">
            <block type="function_key" id="-{XjF0@#mpJ*O8f]flTe">
                <field name="function_key">Win</field>
                <value name="function_key">
                <block type="normal_key" id="U:+l@VS~ey)!$AKkn4H6">
                    <field name="normal_key">Z</field>
                </block>
                </value>
            </block>
            </value>
            <statement name="DO">
            <block type="right_click_menu" id="Z,VFz*rj8(rhwMNLjR1w">
                <statement name="NAME">
                <block type="right_click_menu_item" id="TSjJYV8,eC{dFw?jLNMY">
                    <field name="item_name">開啟 Google</field>
                    <statement name="DO">
                    <block type="open" id=";VnDBJS=Bru*.zmN`k/@">
                        <value name="NAME">
                        <block type="built_in_webpage" id="k~tjUZYFUqgcRRzJ/xA`">
                            <field name="NAME">google</field>
                        </block>
                        </value>
                    </block>
                    </statement>
                    <next>
                    <block type="right_click_menu_item" id="yp!vUG^4}4M.,7gD9px/">
                        <field name="item_name">開啟 Youtube</field>
                        <statement name="DO">
                        <block type="open" id="z^Tfs+![h;8M?3?xUjdI">
                            <value name="NAME">
                            <block type="built_in_webpage" id="5w~#|4=tInjem5)@HH17">
                                <field name="NAME">youtube</field>
                            </block>
                            </value>
                        </block>
                        </statement>
                    </block>
                    </next>
                </block>
                </statement>
            </block>
            </statement>
        </block>
        <block type="hotkey_execute" id="+dm/z.]/po+;s5I`NW,5" x="65" y="105">
            <value name="NAME">
            <block type="function_key" id="sa46!MfGf)7b6Sl8PfXB">
                <field name="function_key">Win</field>
                <value name="function_key">
                <block type="normal_key" id="#9FCV/h6NC~p%/U`a)Pi">
                    <field name="normal_key">A</field>
                </block>
                </value>
            </block>
            </value>
            <statement name="DO">
            <block type="right_click_menu" id="W;~b1TyLB3I0)[].G~sf">
                <statement name="NAME">
                <block type="right_click_menu_item" id="Xpsdc+H?14[pXrLb37HX">
                    <field name="item_name">開啟AHK官網</field>
                    <statement name="DO">
                    <block type="open" id="1Ntc44`BQHI!;$M!i+Dt">
                        <value name="NAME">
                        <block type="built_in_webpage" id="P:JXM]q;;{LTRoBfOJ;A">
                            <field name="NAME">ahk</field>
                        </block>
                        </value>
                    </block>
                    </statement>
                    <next>
                    <block type="right_click_menu_item_hr" id=",?GSS9y54Y~@Frm=9k{M">
                        <next>
                        <block type="right_click_menu_item" id="ww-fXW=HiFA{IM_)YzD.">
                            <field name="item_name">開啟記事本</field>
                            <statement name="DO">
                            <block type="open" id="0mu2o8dZ!ue~bm=|dWPp">
                                <value name="NAME">
                                <block type="built_in_program" id="29EiNv)sE_}9^*^2eL2#">
                                    <field name="NAME">notepad</field>
                                </block>
                                </value>
                            </block>
                            </statement>
                            <next>
                            <block type="right_click_menu_item" id="%|gSHyK??7?An$O/TmME">
                                <field name="item_name">開啟小畫家</field>
                                <statement name="DO">
                                <block type="open" id="cccD3=`#LN%Ha|~6y1K(">
                                    <value name="NAME">
                                    <block type="built_in_program" id="vW.~(?#c|l2j`D2z9D1V">
                                        <field name="NAME">mspaint</field>
                                    </block>
                                    </value>
                                </block>
                                </statement>
                            </block>
                            </next>
                        </block>
                        </next>
                    </block>
                    </next>
                </block>
                </statement>
            </block>
            </statement>
        </block>
        <block type="right_click_menu"></block>
        <block type="right_click_menu_item"></block>
        <block type="right_click_menu_item_hr"></block>
    </category>

    <category name="音量控制" colour="#C95E00">
        <block type="volume_adjust">
            <field name="action">add</field>
            <value name="NAME">
            <block type="math_number">
                <field name="NUM">2</field>
            </block>
            </value>
        </block>
        <block type="volume_mute"></block>
    </category>

    <category name="網頁操作" colour="#C79304">
        <block type="web_element" id="A4}DC-W}T(bX2YolMZ83" x="-96" y="145">
            <field name="elt_address">js_path</field>
            <field name="NAME">&lt;在此輸入元素路徑&gt;</field>
            <comment pinned="false" h="92" w="259">對網頁物件按右鍵＞檢查
將反白的HTML區塊按右鍵＞Copy
選擇複製JS path或CSS選擇器</comment>
        </block>
        <block type="web_element_click" id="R^Z#RgOC6tyDf3ygke6O" x="-116" y="68">
            <value name="NAME">
            <block type="web_element" id="A4}DC-W}T(bX2YolMZ83">
                <field name="elt_address">js_path</field>
                <field name="NAME">document.querySelector("#更新日誌")</field>
                <comment pinned="false" h="43" w="249">該元素為本網頁的更新日誌子分頁</comment>
            </block>
            </value>
        </block>
        <block type="web_element_focus" id="Wu~aQ{A(e0Mpy_{iq=1G" x="-110" y="146">
            <value name="NAME">
            <block type="web_element" id="$zX9Lgd1.E%WF^A4iZOk">
                <field name="elt_address">js_path</field>
                <field name="NAME">document.querySelector("#SELECT_function")</field>
                <comment pinned="false" h="45" w="349">該元素為本網頁的首頁&gt;設定功能的下拉式選單</comment>
            </block>
            </value>
        </block>
        <block type="web_element_setValue" id="!aK^`sw,lB6*#YDIzr04" x="-111" y="215">
            <value name="NAME">
            <block type="web_element" id="V2;uy6:^Kgfowq7R]e4@">
                <field name="elt_address">js_path</field>
                <field name="NAME">document.querySelector("#DIV_func_conent &gt; input[type=text]")</field>
                <comment pinned="false" h="46" w="308">該元素為本網頁的首頁&gt;設定功能的文字框</comment>
            </block>
            </value>
            <value name="to_value">
            <block type="text" id="7*,Np)3o8,vcL@vP60KU">
                <field name="TEXT">123</field>
            </block>
            </value>
        </block>
        <block type="web_element_selectedindex" id="Qj^!JAddbJ`PaPm`:U_=" x="-110" y="324">
            <value name="NAME">
            <block type="web_element" id="_qHG+!j.6.V|nelURl=x">
                <field name="elt_address">js_path</field>
                <field name="NAME">document.querySelector("#SELECT_function")</field>
                <comment pinned="false" h="43" w="330">該元素為本網頁的首頁&gt;設定功能的下拉式選單</comment>
            </block>
            </value>
            <value name="to_value">
            <block type="math_number" id="P}f~~!Vahc?9dLCM*l4=">
                <field name="NUM">2</field>
            </block>
            </value>
        </block>
        <block type="web_element_alert" id=",}Hyiy{yl+6C58bqamhY" x="90" y="396">
            <value name="NAME">
            <block type="text" id="g2L}jr,=(F=%TNyUy-pB">
                <field name="TEXT">OK！</field>
            </block>
            </value>
        </block>
        <block type="procedures_defnoreturn" id="4ldh1WBM~F`t0J?*x+^U" x="92" y="45">
            <mutation>
            <arg name="JS程式碼" varid="(Y3G~q,sBzY0NeXr_C0g"></arg>
            </mutation>
            <field name="NAME">執行Javascript</field>
            <comment pinned="false" h="69" w="189">請按右鍵＞創造函式積木，來使用此函式積木</comment>
            <statement name="STACK">
            <block type="win_get_active_title" id="_X$G8nF~Hi,WxbKdj6V@">
                <value name="NAME">
                <block type="variables_get">
                    <field name="VAR">視窗標題</field>
                </block>
                </value>
                <next>
                <block type="controls_if" id="THQPV}jiH}78Dzj[^i22">
                    <mutation else="1"></mutation>
                    <value name="IF0">
                    <block type="in_str" id="extK?,jPJKj^m9VTZMpB">
                        <field name="NAME">contain</field>
                        <value name="text">
                        <block type="variables_get">
                            <field name="VAR">視窗標題</field>
                        </block>
                        </value>
                        <value name="sub_text">
                        <block type="text" id="b_*CEb|VmtrG%3f*X1J1">
                            <field name="TEXT"> - Google Chrome</field>
                        </block>
                        </value>
                    </block>
                    </value>
                    <statement name="DO0">
                    <block type="block_input" id="165$[{QCmm3gcW%S,{r.">
                        <statement name="DO">
                        <block type="send_key" id="a1/4HGKEW=Z.?nn~-E(|">
                            <comment pinned="false" h="47" w="118">聚焦在網址列</comment>
                            <value name="NAME">
                            <block type="function_key" id="0/|SFkGfS2;X)ke:$`8U">
                                <field name="function_key">Ctrl</field>
                                <value name="function_key">
                                <block type="normal_key" id="(WtGZt@jQyP4_:@qmN$p">
                                    <field name="normal_key">L</field>
                                </block>
                                </value>
                            </block>
                            </value>
                            <next>
                            <block type="paste_text" id="#]9k!1}QNE`~{P#22^2j">
                                <value name="NAME">
                                <block type="text_join" id="wlEEX{X-Z.39JD8!.oap">
                                    <mutation items="3"></mutation>
                                    <value name="ADD0">
                                    <block type="text" id="YIqCQ)9:f^oUGkUVTKPh">
                                        <field name="TEXT">_Javascript:</field>
                                    </block>
                                    </value>
                                    <value name="ADD1">
                                    <block type="variables_get" id="KM^=j!K4)q07(714b:@K">
                                        <field name="VAR" id="(Y3G~q,sBzY0NeXr_C0g">JS程式碼</field>
                                    </block>
                                    </value>
                                    <value name="ADD2">
                                    <block type="text" id=";!Q)#Slc]g67p1YG-r)t">
                                        <field name="TEXT">;void(0);</field>
                                    </block>
                                    </value>
                                </block>
                                </value>
                                <next>
                                <block type="send_key" id="#*0fu66G5i~16MQ/wT2*">
                                    <value name="NAME">
                                    <block type="special_key" id="3]2i;4r_u4m)+*GdNLiz">
                                        <field name="special_key">Home</field>
                                    </block>
                                    </value>
                                    <next>
                                    <block type="send_key" id="`|4x%`h890DGg7j/?~}0">
                                        <value name="NAME">
                                        <block type="special_key" id="@CNEb)F=/q-Q+=eR.^3M">
                                            <field name="special_key">Delete</field>
                                        </block>
                                        </value>
                                        <next>
                                        <block type="send_key" id="Y*csfnmE|aR~8PJQP`R/">
                                            <value name="NAME">
                                            <block type="special_key" id="WbXW3I,-ojh1zH06)F9p">
                                                <field name="special_key">Enter</field>
                                            </block>
                                            </value>
                                        </block>
                                        </next>
                                    </block>
                                    </next>
                                </block>
                                </next>
                            </block>
                            </next>
                        </block>
                        </statement>
                    </block>
                    </statement>
                    <statement name="ELSE">
                    <block type="msgbox" id="(.0t7Lt#Td8Y6t_J.i4A">
                        <value name="NAME">
                        <block type="text" id="hpr~*Nyxzu4-IM.fZKz6">
                            <field name="TEXT">只有Google瀏覽器才可以執行該函式</field>
                        </block>
                        </value>
                    </block>
                    </statement>
                </block>
                </next>
            </block>
            </statement>
        </block>
    </category>

    <category name="選取文字後" colour="#8FBC8F">
        <block type="open_select_url"></block>
        <block type="search_selected_keyword"></block>
        <block type="search_selected_keyword_custom"></block>
    </category>

    <sep></sep>

    <category name="系統資訊" colour="#956D49">
        <block type="user_name"></block>
        <block type="computer_name"></block>
        <block type="win_get_active_title" id="R.^alvnwVH62{ocVJB*2" x="50" y="119">
            <value name="NAME">
            <block type="variables_get" id="Ntu}npMscT9(NC%1vI^]">
                <field name="VAR" id="K8,SUbJ4;4p:go!BbSge">視窗標題</field>
            </block>
            </value>
        </block>
        <block type="win_get_active_title" id="L.}LiI^$/@uv#dN:-en;" x="63" y="158">
            <value name="NAME">
            <block type="variables_get" id="Yhln+Uagm;I=qq!d(M?#">
                <field name="VAR" id="K8,SUbJ4;4p:go!BbSge">視窗標題</field>
            </block>
            </value>
            <next>
            <block type="controls_if" id="KV8}fV1mC-TCy{5,wReK">
                <mutation else="1"></mutation>
                <value name="IF0">
                <block type="in_str" id="]V{p[##dRw7nZ.rOquKe">
                    <field name="NAME">contain</field>
                    <value name="text">
                    <block type="variables_get" id="Qf_[:Q{iI*esiE~Nl^K*">
                        <field name="VAR" id="K8,SUbJ4;4p:go!BbSge">視窗標題</field>
                    </block>
                    </value>
                    <value name="sub_text">
                    <block type="text" id="X?`-CG8@Sk}x=pRa1*]@">
                        <field name="TEXT">記事本</field>
                    </block>
                    </value>
                </block>
                </value>
                <statement name="DO0">
                <block type="msgbox" id="MB0CkCX}e/AdfaI{]U6h">
                    <value name="NAME">
                    <block type="text" id="b3+3pX4o2i`EDcE)UdE!">
                        <field name="TEXT">目前的視窗是記事本</field>
                    </block>
                    </value>
                </block>
                </statement>
                <statement name="ELSE">
                <block type="msgbox" id="@?{_T!1yA{6Qh:Z#RH=$">
                    <value name="NAME">
                    <block type="text" id="r7Ng*P{Zj0M{hzQv=vS?">
                        <field name="TEXT">目前的視窗不是記事本</field>
                    </block>
                    </value>
                </block>
                </statement>
            </block>
            </next>
        </block>
    </category>


    <category name="邏輯" colour="#5b80a5">
        <block type="controls_if"></block>
        <block type="logic_compare">
            <field name="OP">EQ</field>
        </block>
        <block type="logic_operation">
            <field name="OP">AND</field>
        </block>
        <block type="logic_negate"></block>
        <block type="logic_boolean">
            <field name="BOOL">TRUE</field>
        </block>
        <block type="logic_null"></block>
        <block type="in_str">
            <field name="NAME">contain</field>
            <value name="text">
            <block type="text">
                <field name="TEXT">Apple</field>
            </block>
            </value>
            <value name="sub_text">
            <block type="text">
                <field name="TEXT">App</field>
            </block>
            </value>
        </block>
        <block type="get_key_state" id="YO!{H(G43CM2:YSIa(o#" x="130" y="223">
            <value name="NAME">
            <block type="special_key" id="a`*^O%1zVMePqI$Q}!Gp">
                <field name="special_key">Ctrl</field>
            </block>
            </value>
        </block>
        
    </category>

    <category name="循環" colour="#006400">
        <block type="controls_repeat_ext">
            <value name="TIMES">
                <block type="math_number">
                    <field name="NUM">10</field>
                </block>
            </value>
        </block>
        <block type="controls_whileUntil">
            <field name="MODE">WHILE</field>
        </block>
        <block type="controls_flow_statements">
            <field name="FLOW">BREAK</field>
        </block>
        <block type="while_true"></block>
        <block type="variables_set" id="C4EKGy^N]=!/m=,7Fy)q" x="38" y="72">
            <field name="VAR" id="S}+*eTdu#STGjR;?W,P!">x</field>
            <value name="VALUE">
            <block type="math_number" id="u4]mMZOW%3k//_RlmP9I">
                <field name="NUM">0</field>
            </block>
            </value>
            <next>
            <block type="while_true" id="%=h%*6b]R%GI#v~[.Xg@">
                <statement name="DO">
                <block type="math_change" id="0]YzcL/filPo)9(tq`+@">
                    <field name="VAR" id="S}+*eTdu#STGjR;?W,P!">x</field>
                    <value name="DELTA">
                    <shadow type="math_number" id="^ymSFd/+)rK:2{]Dg#us">
                        <field name="NUM">1</field>
                    </shadow>
                    </value>
                    <next>
                    <block type="msgbox" id="0L;^(xJ{2xi0f,W_A?IJ">
                        <value name="NAME">
                        <block type="text_join" id="H@p4=rtBIr5s2d$%fc_N">
                            <mutation items="2"></mutation>
                            <value name="ADD0">
                            <block type="text" id="r;q9f=1M#gUA^~G%+%;.">
                                <field name="TEXT">現在 x =</field>
                            </block>
                            </value>
                            <value name="ADD1">
                            <block type="variables_get" id="e.gj}Z+:H}ZqmSl30h+z">
                                <field name="VAR" id="S}+*eTdu#STGjR;?W,P!">x</field>
                            </block>
                            </value>
                        </block>
                        </value>
                        <next>
                        <block type="controls_if" id="9+=q/p*BCOu}4L{$R;2L">
                            <value name="IF0">
                            <block type="logic_compare" id="A1z!Qe:Kdvg$sBKlmXf`">
                                <field name="OP">EQ</field>
                                <value name="A">
                                <block type="variables_get" id="fnew8Wgo:bLD,6[*;c)q">
                                    <field name="VAR" id="S}+*eTdu#STGjR;?W,P!">x</field>
                                </block>
                                </value>
                                <value name="B">
                                <block type="math_number" id="PDOdg0QH-~IUQW*h/*e/">
                                    <field name="NUM">5</field>
                                </block>
                                </value>
                            </block>
                            </value>
                            <statement name="DO0">
                            <block type="controls_flow_statements" id="52!WAO*X)E![VO8W2ysy">
                                <field name="FLOW">BREAK</field>
                            </block>
                            </statement>
                        </block>
                        </next>
                    </block>
                    </next>
                </block>
                </statement>
            </block>
            </next>
        </block>
        

    </category>



    <category name="函式" colour="#995BA5">
        <block type="procedures_defnoreturn">
            <field name="NAME">函式名稱</field>
        </block>
        <block type="procedures_defreturn">
            <field name="NAME">函式名稱</field>
        </block>
    </category>

    <category name="變數" colour="#A45A7F" custom="VARIABLE">
    </category>

    <category name="自訂編碼" colour="#C4C4C4">
        <block type="ahk_code"></block>
        <block type="cmd"></block>
    </category>

</xml>