<div id="blocklyDiv" style="height: 600px; width: 100%;visibility: hidden;"></div>
<xml xmlns="https://developers.google.com/blockly/xml" id="workspaceBlocks" style="display:none;">
    <block type="hotkey_execute" id="V%=T0MtVv(niaOO.S|,P" x="78" y="115">
        <value name="NAME">
            <block type="function_key" id="b9-u~;+7!-K-580Or~+C">
                <field name="function_key">Ctrl</field>
                <value name="function_key">
                    <block type="function_key" id="tpK4IIa}7lYY^v=KrBY-">
                        <field name="function_key">Shift</field>
                        <value name="function_key">
                            <block type="normal_key" id="N11J1M4.Cun/a7RiaD?i">
                                <field name="normal_key">A</field>
                            </block>
                        </value>
                    </block>
                </value>
            </block>
        </value>
        <statement name="DO">
            <block type="open" id="v+E6j.ujEL)ep/vi_uH9">
                <value name="NAME">
                    <block type="webpage" id="QGoL];H5:jmH}[9[1nF!">
                        <field name="NAME">https://www.autohotkey.com/</field>
                    </block>
                </value>
            </block>
        </statement>
    </block>
</xml>

<!--block結構必須要是頭尾封閉的html形式才能正常被偵測-->
<xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
    <!--工具欄-->

    <category name="基本" colour="#818181">
        <block type="hotkey_execute">
            <value name="NAME">
                <block type="function_key">
                    <field name="function_key">Ctrl</field>
                    <value name="function_key">
                        <block type="function_key">
                            <field name="function_key">Shift</field>
                            <value name="function_key">
                                <block type="normal_key">
                                    <field name="normal_key">A</field>
                                </block>
                            </value>
                        </block>
                    </value>
                </block>
            </value>
            <statement name="DO">
                <block type="open">
                    <value name="NAME">
                        <block type="webpage">
                            <field name="NAME">https://www.autohotkey.com/</field>
                        </block>
                    </value>
                </block>
            </statement>
        </block>
        <block type="hotkey_execute">
            <comment pinned="true" h="34.44447326660156" w="134.44442749023438">清空資源回收桶</comment>
            <value name="NAME">
                <block type="function_key" id="5SbVV-d66$U%w-pkE/Oa">
                    <field name="function_key">Ctrl</field>
                    <value name="function_key">
                        <block type="function_key" id="?wtrVXxd#VOa`16u]{+W">
                            <field name="function_key">Win</field>
                            <value name="function_key">
                                <block type="function_key" id="K$V@_QkoaGRJL/cEHpi!">
                                    <field name="function_key">Alt</field>
                                    <value name="function_key">
                                        <block type="normal_key" id="o3FZWp=#nW1:@--``xDc">
                                            <field name="normal_key">T</field>
                                        </block>
                                    </value>
                                </block>
                            </value>
                        </block>
                    </value>
                </block>
            </value>
            <statement name="DO">
                <block type="file_recycle_empty" id=";=(]0kDwE-?ptu3@Gkn:">
                    <next>
                        <block type="msgbox" id="zMTmYSi(ln79)7S@WZoX">
                            <value name="NAME">
                                <block type="text" id="Y3qX:9z`xdS0*gs@6=2]">
                                    <field name="TEXT">垃圾桶清除完畢!</field>
                                </block>
                            </value>
                        </block>
                    </next>
                </block>
            </statement>
        </block>
        <block type="open">
            <value name="NAME">
                <block type="filepath">
                    <field name="NAME">C:\*.exe</field>
                </block>
            </value>
        </block>
        <block type="built_in_dirpath"></block>
        <block type="built_in_program"></block>
        <block type="built_in_webpage"></block>
        <block type="msgbox" id="CXdLYVD0$PZ]^{p/-qf;" x="88" y="225">
            <value name="NAME">
                <block type="text" id="r9th7Sk{9B+wU87Wt%T6">
                    <field name="TEXT">Hello World</field>
                </block>
            </value>
        </block>
        <block type="send_text" id="Mjzo.Lz60~t=9(V)`ZE3" x="88" y="284">
            <value name="NAME">
                <block type="text" id="jm%uw[CaO*0FkFoz~;#[">
                    <field name="TEXT">xxxl@gmail.com</field>
                </block>
            </value>
        </block>
        <block type="hotstring">
            <value name="ABB">
                <block type="text">
                    <field name="TEXT">btw</field>
                </block>
            </value>
            <value name="TEXT">
                <block type="text">
                    <field name="TEXT">By the way</field>
                </block>
            </value>
        </block>
    </category>

    <category name="熱鍵" colour="#0000CD">
        <block type="hotkey_execute"></block>
        <block type="function_key">
            <field name="function_key">Ctrl</field>
        </block>
        <block type="normal_key">
            <field name="normal_key">A</field>
        </block>
        <block type="special_key"></block>
        <block type="return"></block>
    </category>

    <category name="熱字串" colour="#CD5C5C">
        <block type="hotstring">
            <value name="ABB">
                <block type="text">
                    <field name="TEXT">btw</field>
                </block>
            </value>
            <value name="TEXT">
                <block type="text">
                    <field name="TEXT">By the way</field>
                </block>
            </value>
        </block>
        <block type="hotstring_advanced">
            <value name="ABB">
                <block type="text">
                    <field name="TEXT">btw</field>
                </block>
            </value>
            <value name="TEXT">
                <block type="text">
                    <field name="TEXT">By the way</field>
                </block>
            </value>
            <statement name="SETTING">
                <block type="hotstringSetting_autoExpaned">
                    <next>
                        <block type="hotstringSetting_dontFireEndKey">
                            <next>
                                <block type="hotstringSetting_caseSensitive">
                                    <next>
                                        <block type="hotstringSetting_expanedInWrods">
                                            <next>
                                                <block type="hotstringSetting_rawText" />
                                            </next>
                                        </block>
                                    </next>
                                </block>
                            </next>
                        </block>
                    </next>
                </block>
            </statement>
        </block>
        <block type="hotstring_do">
            <value name="ABB">
                <block type="text" id="q*bh@i[a]mgtx]X~?yO!">
                    <field name="TEXT">\ahk</field>
                </block>
            </value>
            <statement name="DO">
                <block type="msgbox" id="?-yIy#0@{*}2O9g2N.$L">
                    <value name="NAME">
                        <block type="text" id="[C1MEk_a1dg^m~(;pEWc">
                            <field name="TEXT">開啟AHK官網</field>
                        </block>
                    </value>
                    <next>
                        <block type="open" id="Dq~*#ls:jX}rD.$O_+2]">
                            <value name="NAME">
                                <block type="webpage" id="if^+ZL3Z32V[9Im|X#FV">
                                    <field name="NAME">https://www.autohotkey.com/</field>
                                </block>
                            </value>
                        </block>
                    </next>
                </block>
            </statement>
            <statement name="SETTING">
                <block type="hotstringSetting_expanedInWrods" id="h?kFRLgMTM_ej*KwY#E[">
                    <next>
                        <block type="hotstringSetting_caseSensitive" id="L|^O-W:@2Z@Q)6mEMK08"></block>
                    </next>
                </block>
            </statement>
        </block>
        <block type="hotstring"></block>
        <block type="hotstring_advanced"></block>
        <block type="hotstring_do"></block>
        <block type="hotstringSetting_autoExpaned"></block>
        <block type="hotstringSetting_dontFireEndKey"></block>
        <block type="hotstringSetting_caseSensitive"></block>
        <block type="hotstringSetting_expanedInWrods"></block>
        <block type="hotstringSetting_rawText"></block>
    </category>

    <category name="動作" colour="#4B0082">
        <block type="open"></block>
        <block type="msgbox"></block>
        <block type="send_text"></block>
        <block type="send_key"></block>
        <block type="set_clipboard"></block>
        <block type="file_recycle_empty"></block>
        <block type="close_process"></block>
        <block type="sleep">
            <value name="NAME">
                <block type="math_number">
                    <field name="NUM">500</field>
                </block>
            </value>
        </block>
    </category>

    <category name="物件" colour="#9370DB">
        <block type="filepath">
            <field name="NAME">C:\*.exe</field>
        </block>
        <block type="built_in_program"></block>
        <block type="dirpath"></block>
        <block type="built_in_dirpath"></block>
        <block type="webpage"></block>
        <block type="built_in_webpage"></block>
        <block type="clipboard"></block>
        <block type="math_number">
            <field name="NUM">123</field>
        </block>
        <block type="text">
            <field name="TEXT">文字</field>
        </block>
        <block type="path_combined">
            <value name="main_path">
                <block type="built_in_dirpath">
                    <field name="NAME">desktop</field>
                </block>
            </value>
            <value name="sub_path">
                <block type="filepath">
                    <field name="NAME">圖片\01.png</field>
                </block>
            </value>
        </block>
        <block type="built_in_time"></block>
        <block type="variables_get">
            <field name="VAR">變數 x</field>
        </block>
    </category>

    <category name="模擬按鍵" colour="#D75BF0">
        <block type="send_key"></block>
        <block type="send_keys"></block>
        <block type="send_key_times" id="wltY5@wT{M;nzk*|MC4$" x="109" y="236">
            <value name="KEY">
                <block type="function_key" id="?5{d?c=m$gY):ce8|!!Q">
                    <field name="function_key">Ctrl</field>
                    <value name="function_key">
                        <block type="normal_key" id="?oM./%`gAiAcxPxjQ]};">
                            <field name="normal_key">V</field>
                        </block>
                    </value>
                </block>
            </value>
            <value name="TIMES">
                <block type="math_number" id="m8WbZ`{PQZ@R~tUkLNiC">
                    <field name="NUM">3</field>
                </block>
            </value>
        </block>
        <block type="function_key">
            <field name="function_key">Ctrl</field>
        </block>
        <block type="normal_key">
            <field name="normal_key">A</field>
        </block>
        <block type="special_key"></block>
    </category>

    <category name="模擬滑鼠" colour="#D0D03E">
        <block type="send_key">
            <value name="NAME">
              <block type="special_key">
                <field name="special_key">LButton</field>
              </block>
            </value>
          </block>
        <block type="coord_mode"></block>
        <block type="click_x_y">
            <value name="X">
                <block type="math_number">
                    <field name="NUM">100</field>
                </block>
            </value>
            <value name="Y">
                <block type="math_number">
                    <field name="NUM">200</field>
                </block>
            </value>
            <value name="TIMES">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
        </block>
        <block type="mouse_get_pos">
        </block>

        
    </category>

    <category name="文字" colour="#5BA58C">
        <block type="msgbox"></block>
        <block type="send_text"></block>
        <block type="text">
            <field name="TEXT">文字</field>
        </block>
        <block type="text_join">
            <mutation items="2" />
        </block>
        <block type="text_join" id="MlcSa_-%[~;}wLX.I(R]" x="89" y="150">
            <mutation items="2"></mutation>
            <value name="ADD0">
                <block type="text" id="xbZSOE`SL!rpf_Mu2:M9">
                    <field name="TEXT">今天星期</field>
                </block>
            </value>
            <value name="ADD1">
                <block type="built_in_wday_zh" id="ht]u_Z_++4!s63:JvV9#"></block>
            </value>
        </block>
    </category>

    <category name="時間" colour="#7B68EE">
        <block type="built_in_time">
            <field name="NAME">year</field>
        </block>
        <block type="built_in_time">
            <field name="NAME">month</field>
        </block>
        <block type="built_in_time">
            <field name="NAME">day</field>
        </block>
        <block type="built_in_time">
            <field name="NAME">wday</field>
        </block>
        <block type="built_in_wday_zh"></block>
        <block type="built_in_time">
            <field name="NAME">hour</field>
        </block>
        <block type="built_in_time">
            <field name="NAME">min</field>
        </block>
        <block type="built_in_time">
            <field name="NAME">sec</field>
        </block>
    </category>

    <category name="數學" colour="#AFEEEE">
        <block type="math_number">
            <field name="NUM">0</field>
        </block>
        <block type="math_arithmetic">
            <field name="OP">ADD</field>
            <value name="A">
                <block type="math_number">
                    <field name="NUM">1</field>
                </block>
            </value>
            <value name="B">
                <block type="math_number">
                    <field name="NUM">2</field>
                </block>
            </value>
        </block>
    </category>

    <sep></sep>

    <category name="系統資訊" colour="#956D49">
        <block type="user_name"></block>
        <block type="computer_name"></block>
        <block type="procedures_defreturn" id="^y(x_n|j+Ax!P=OvF?FQ" x="92" y="84">
            <field name="NAME">視窗名稱</field>
            <statement name="STACK">
            <block type="ahk_code" id="?V=A.7t1!WUz|sQQJxT|">
                <field name="NAME">WinGetActiveTitle, Title</field>
            </block>
            </statement>
            <value name="RETURN">
            <block type="variables_get" id="zz9Np1ADn)RBo-2dp[qm">
                <field name="VAR" id="K8,SUbJ4;4p:go!BbSge">Title</field>
            </block>
            </value>
        </block>
    </category>


    <category name="邏輯" colour="#5b80a5">
        <block type="controls_if"></block>
        <block type="logic_compare">
            <field name="OP">EQ</field>
        </block>
        <block type="logic_operation">
            <field name="OP">AND</field>
        </block>
        <block type="logic_negate"></block>
        <block type="logic_boolean">
            <field name="BOOL">TRUE</field>
        </block>
        <block type="logic_null"></block>
    </category>

    <category name="函式" colour="#995BA5">
        <block type="procedures_defnoreturn">
            <field name="NAME">函式名稱</field>
        </block>
        <block type="procedures_defreturn">
            <field name="NAME">函式名稱</field>
        </block>
    </category>

    <category name="變數" colour="#A45A7F" custom="VARIABLE">
    </category>

    <category name="自訂AHK" colour="#C4C4C4">
        <block type="ahk_code"></block>
    </category>

</xml>